@import url("https://fonts.googleapis.com/css2?family=Poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-gray-200;
  }

  html:before {
    @apply border-transparent sm:border-b-green-500;
  }

  body:before {
    @apply border-transparent sm:border-b-green-500;
  }

  body:after {
    @apply border-transparent sm:border-b-green-500;
  }
  /* TODO */
}

@layer components {
  /* .btn {
        @apply bg-[#12b448] text-white px-4 py-2 rounded-md text-sm text-white;
    }
    .card {
        @apply p-3 bg-white rounded-md shadow-md h-full;
    } */
}
